@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/c0f05d6887240828ad55f03f0fa58932?family=Kumbh+Sans);
body{
    font-family: "Kumbh Sans";
    color: white;
  }
.green_suit{
    filter: grayscale(4);
}


.tootip{
  background: #000;
}